/*
*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
*/

#progressbar,
#progressbar1 {
    display: none;
}

#progressbar1 {
    height: 4px;
}

progress,
#result {
    max-width: 1200px;
}

#result {
    max-height: 240px;
    overflow: auto;
    padding: 8px;
    background: #f1f2f3;
    border-radius: 2px;
    border: 1px solid #ddd;
    margin-bottom: -16px;
}

#percent:empty,
#percent1:empty,
#result:empty {
    display: none;
}

#result a,
#result div {
    display: block;
    line-height: 16px;
    font-size: 13px;
    padding: 2px 8px 2px 24px;
    border-radius: 2px;
    position: relative;
}
#result a:hover {
    background: rgba(0, 0, 0, 0.05);
}
#result a:before,
#result div:before {
    content: "\f00c"; /* fa-check */
    position: absolute;
    top: 2px;
    left: 4px;
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    color: #3EB998;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    margin-right: 6px;
}

#result div:before {
    content: "\f110"; /* spinner */
    top: 3px;
    left: 4px;
    -webkit-animation: fa-spin 2s infinite linear;
    animation: fa-spin 2s infinite linear;
    color: #5295D2;
}
#result div.pwas-error:before,
#result a.pwas-error:before {
    content: "\f057"; /* fa-times-circle */
    top: 3px;
    -webkit-animation: none;
    animation: none;
    color: #B94C51;
    background-color: inherit;
}
#result div.info:before {
    content: "\f129"; /* fa-info, when results are shown */
    left: 8px;
    -webkit-animation: none;
    animation: none;
}

#result hr {
    margin: 14px 0;
}

#result a .status,
#result div .status {
    display: inline-block;
    margin-left: 8px;
    background-color: #5295D2;
    padding: 1px 4px;
    color: #fff;
    border-radius: 3px;
    font-weight: normal;
    font-size: 12px;
}
#result a .status.percent:after {
    content: "%";
}
#result a .status.error,
#result div .status.error {
    background-color: #B94C51;
}

#percent {
    position: relative;
    top: -34px;
    margin-bottom: -34px;
    margin-left: 16px;
    display: block;
    color: #333;
}

.start {
    color: #333;
}

.faded {
    color: #666;
    margin-right: 6px;
    display: inline-block;
}

.done {
    /* what? */
}

progress.canceled {
    /* what? */
}

progress {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    width: 100%;
    height: 37px;

    /* Firefox */
    border: none;
    background: #EEE;
    border-radius: 3px;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2) inset;
}

progress.error + #percent {
    color: #fff;
}

progress.error::-webkit-progress-bar {
    background: #a00;
}
progress.error::-webkit-progress-value {
    background: #600;
}
progress.error::-moz-progress-bar {
    background: #600;
}

#progbarwrapper .InputfieldContent {
    border: 0;
    margin: 0;
    padding: 0;
}

#cancel_all {
    display: none;
}
#cancel_all.cancel_all_unhide {
    display: block;
    margin-left: -.5em;
}

.AdminThemeUikit #cancel_all.cancel_all_unhide {
    margin-left: 0;
}

.AdminThemeUikit #progbarwrapper .InputfieldContent {
    margin-top: 10px;
    overflow: hidden;
}

.AdminThemeUikit #percent {
    top: -37px;
}

.AdminThemeUikit #result {
    margin-bottom: -14px;
}

.AdminThemeUikit #result,
.AdminThemeUikit #result a,
.AdminThemeUikit #result div,
.AdminThemeUikit #result a .status,
.AdminThemeUikit #result div .status,
.AdminThemeUikit progress {
    border-radius: 0;
    box-shadow: none;
}

.AdminThemeUikit #result a:before {
    top: 4px;
}

progress::-webkit-progress-bar {
    background: #EEE;
    box-shadow: none;
    border-radius: 0;
}
progress::-webkit-progress-value {
    background: #3EB998;
    border-radius: 0;
}
progress::-moz-progress-bar {
    background: #3EB998;
    border-radius: 0;
}

img.mfp-img {
    min-width: 400px;
    height: auto;
}

.InputfieldForm .inputError {
    color: #d94C51;
    background-color: #d94C51;
}

/*
.InputfieldForm label.InputfieldHeader {
    padding-top: .4em;
}

.AdminThemeUikit .InputfieldForm label.InputfieldHeader {
    padding-top: 20px;
}
*/

#Inputfield_optAutoAction_backup {
    margin-left: 1.5em;
}

.optDisabled {
    color: #bbb;
}

#ModuleEditForm .AdminDataTable tr td:first-child {
    color: inherit;
}
